.mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    padding: .1rem .6rem;
    color: rgba(0, 0, 0, 0.7);
    font-size: .28rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.description {
    font-size: .16rem;
    padding: .2rem .4rem;
    color: rgba(0, 0, 0, 0.7);
}

.footer {
    display: flex;
}

.confirmBtn {
    width: 100%;
    font-size: .18rem;
    padding: .1rem .15rem;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.confirmBtn:last-child {
    border-right: none;
}